<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <aside id="sidebar">
            <h1 id="title">Dealership</h1>

            <nav id="navbar">
                <ul id="list">
                    <li class="list-item">
                        <a href="vehicles">Vehicles</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Users</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Stock</a>
                    </li>
                    <li class="list-item">
                        <a href="#">System</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <section>
            {{{ body }}}
        </section>
    </main>
</body>

</html>