@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

:root {
    --maximum-blue-green: #16BAC5;
    --rich-black-flogra: #0C0C0C;
    --dark-jungle-gray: #171D1C;
    --maya-blue: #5FBFF9;
    --neon-blue: #5863F8;
    --magnolia: #EFE9F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--magnolia);
}

body {
    background: var(--dark-jungle-gray);
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

button {
    background: none;
    color: inherit;
    outline: none;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

nav#navbar {
    width: 100%;
    height: 60px;
    display: flex;
    user-select: none;
    flex-direction: row;
    background: var(--rich-black-flogra);
    border-bottom: 3px solid var(--neon-blue);
}

nav#navbar>* {
    width: 50%;
    height: 60px;
    margin: 0 60px;
}

nav#navbar>#nav-title {
    display: flex;
    align-items: center;
}

nav#navbar>ul#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav#navbar>ul#nav-menu>li {
    height: 100%;
    width: 120px;
}

nav#navbar>ul#nav-menu>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 500ms;
    align-items: center;
    font-weight: bold;
    justify-content: space-evenly;
}

nav#navbar>ul#nav-menu>li>a:hover {
    background: var(--neon-blue);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item-selected {
    background: var(--neon-blue);
    pointer-events: none;
    cursor: auto;
}

section#container {
    width: 60%;
    padding: 10px;
    min-height: 60vh;
    margin: 50px auto;
    border-radius: 10px;
    /* background: var(--rich-black-flogra); */
}

section#container>div#section-title {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 5px;
    margin-bottom: 30px;
    justify-content: space-between;
    border-bottom: 3px solid var(--neon-blue);
}