@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

:root {
    --maximum-blue-green: #16BAC5;
    --rich-black-flogra: #0C0C0C;
    --dark-jungle-gray: #171D1C;
    --maya-blue: #5FBFF9;
    --neon-blue: #5863F8;
    --magnolia: #EFE9F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--magnolia);

}

body {
    background: var(--dark-jungle-gray);
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

aside#sidebar {
    width: 300px;
    height: 100%;
    user-select: none;
    background: var(--rich-black-flogra);
    border-right: 3px solid var(--neon-blue);
}

#sidebar>#title {
    width: 100%;
    height: 70px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}

nav#navbar>#list>li {
    height: 50px;
}

nav#navbar>#list>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 25px;
    font-weight: bold;
    align-items: center;
    transition: all 0.5s;
}

nav#navbar>#list>li>a:hover {
    background: var(--neon-blue);
}

section {
    height: 100%;
    padding: 50px;
    width: calc(100% - 300px);
}

section>* {
    height: 100%;
    padding: 10px;
    border: 1px solid var(--magnolia);
}