@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
    --maximum-blue-green: #16BAC5;
    --rich-black-flogra: #0C0C0C;
    --dark-jungle-gray: #171D1C;
    --portland-orange: #FC1530;
    --mint-green: #8CFF98;
    --gunmental: #2A2D34;
    --maya-blue: #5FBFF9;
    --neon-blue: #5863F8;
    --gray-web: #798086;
    --magnolia: #EFE9F4;
    --azure: #007FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--magnolia);
}

body {
    background: var(--dark-jungle-gray);
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

button {
    background: none;
    outline: none;
    border: none;
    color: inherit;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

nav#navbar {
    width: 100%;
    height: 60px;
    display: flex;
    user-select: none;
    flex-direction: row;
    background: var(--rich-black-flogra);
    border-bottom: 3px solid var(--neon-blue);
}

nav#navbar>* {
    width: 50%;
    height: 60px;
    margin: 0 60px;
}

nav#navbar>#nav-title {
    display: flex;
    align-items: center;
}

nav#navbar>ul#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav#navbar>ul#nav-menu>li {
    height: 100%;
    width: 120px;
}

nav#navbar>ul#nav-menu>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 500ms;
    align-items: center;
    font-weight: bold;
    justify-content: space-evenly;
}

nav#navbar>ul#nav-menu>li>a:hover {
    background: var(--neon-blue);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item-selected {
    background: var(--neon-blue);
    pointer-events: none;
    cursor: auto;
}

section#container {
    width: 60%;
    padding: 10px;
    min-height: 60vh;
    margin: 50px auto;
    border-radius: 10px;
}

section#container>div#section-title {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 5px;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    border-bottom: 3px solid var(--neon-blue);
}

div#section-title>div.buttons>button {
    border-radius: 5px;
    font-weight: bold;
    width: 70px;
    background: var(--neon-blue);
    padding: 10px;
    cursor: pointer;
    color: var(--magnolia);
}

div#section-title>div.buttons>button>span {
    margin-right: 5px;
}

div#overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 80%;
    position: absolute;
    background: var(--rich-black-flogra);
}

*.show {
    display: block;
}

*.hide {
    display: none;
}

div.modal {
    top: 50%;
    left: 50%;
    width: 650px;
    position: absolute;
    min-height: 200px;
    background: var(--dark-jungle-gray);
    user-select: none;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

div.modal>div.modal-header {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 10px 25px;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid var(--gray-web);
}

div.modal>div.modal-header>div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

div.modal>div.modal-header>div.modal-controls {
    justify-content: flex-end;
}

div.modal>div.modal-header>div.modal-controls>button,
div.modal>div.modal-header>div.modal-controls>button>* {
    color: var(--portland-orange);
    cursor: pointer;
    font-size: 20px;
}

div.modal>div.modal-body {
    width: 100%;
    border-bottom: 1px solid var(--gray-web);
}

div.modal>div.modal-body>div.modal-form {
    width: 100%;
    padding: 10px;
}

div.modal>div.modal-body>div.modal-form>div.form-line {
    margin: 20px 5px;
    display: flex;
    flex-direction: row;
}

div.modal>div.modal-body>div.modal-form>div.form-line>div.input-box {
    width: 100%;
    height: 70px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
}

div.modal>div.modal-body>div.modal-form>div.form-line>div.input-box>label {
    margin-bottom: 7px;
    font-weight: 600;
}

div.modal>div.modal-body>div.modal-form>div.form-line>div.input-box>input,
div.modal>div.modal-body>div.modal-form>div.form-line>div.input-box>select {
    height: 35px;
    border: 2px solid var(--neon-blue);
    outline: none;
    padding: 0 5px;
    background: var(--dark-jungle-gray);
    border-radius: 5px;
}

div.modal>div.modal-body>div.modal-form>div.form-line>div.input-box:has(input[type=hidden], select[type=hidden]) {
    display: none;
}

div.modal>div.modal-body>div.modal-form>div.form-line>div.input-box>input:focus,
div.modal>div.modal-body>div.modal-form>div.form-line>div.input-box>select:focus {
    border: 2px solid var(--maya-blue);
    outline: none;
}

div.modal>div.modal-body>div.modal-form>div.form-line>div.input-box>input.warning,
div.modal>div.modal-body>div.modal-form>div.form-line>div.input-box>select.warning {
    border: 2px solid var(--portland-orange);
    outline: none;
}

div.modal>div.modal-footer {
    width: 100%;
    height: 50px;
}

div.modal>div.modal-footer>div.modal-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.modal>div.modal-footer>div.modal-buttons>button {
    width: 70px;
    cursor: pointer;
    padding: 7px;
    text-align: center;
    transition: all 500ms;
    font-weight: bold;
    border-radius: 5px;
}

div.modal>div.modal-footer>div.modal-buttons>button.save {
    background: var(--neon-blue);
}

div.modal>div.modal-footer>div.modal-buttons>button.save:hover {
    background: var(--maya-blue);
}

div.modal>div.modal-footer>div.modal-buttons>button.cancel {
    color: var(--portland-orange);
    border: 2px solid var(--portland-orange);
}

div.modal>div.modal-footer>div.modal-buttons>button.cancel:hover {
    color: var(--magnolia);
    background: var(--portland-orange);
}

div#card-board {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div#card-board>div.card {
    border: 3px solid var(--gray-web);
    display: flex;
    background: var(--rich-black-flogra);
    border-radius: 10px;
    flex-direction: row;
}

div#card-board>div.card>div.card-info {
    width: 90%;
    padding: 10px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    border-right: 3px solid var(--gray-web);
}

div#card-board>div.card>div.card-control {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div#card-board>div.card>div.card-control>button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 500ms;
}

div#card-board>div.card>div.card-control>button:first-child {
    border-top-right-radius: 5px;
}

div#card-board>div.card>div.card-control>button:last-child {
    border-bottom-right-radius: 5px;
}

div#card-board>div.card>div.card-control>button.delete:hover {
    background: var(--portland-orange);
}

div#card-board>div.card>div.card-control>button.update:hover {
    background: var(--azure);
}